.dark-high-contrast {
  --md-sys-color-primary: rgb(236 239 255);
  --md-sys-color-surface-tint: rgb(175 198 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(169 194 255);
  --md-sys-color-on-primary-container: rgb(0 10 35);
  --md-sys-color-secondary: rgb(180 255 230);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(75 217 181);
  --md-sys-color-on-secondary-container: rgb(0 14 9);
  --md-sys-color-tertiary: rgb(249 235 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(219 178 255);
  --md-sys-color-on-tertiary-container: rgb(22 0 43);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(17 19 25);
  --md-sys-color-on-background: rgb(226 226 234);
  --md-sys-color-surface: rgb(17 19 25);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 71 82);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(237 239 254);
  --md-sys-color-outline-variant: rgb(191 194 208);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 234);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 68 154);
  --md-sys-color-primary-fixed: rgb(217 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(175 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 16 47);
  --md-sys-color-secondary-fixed: rgb(113 249 213);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(80 221 185);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 21 15);
  --md-sys-color-tertiary-fixed: rgb(241 219 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(222 183 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(30 0 56);
  --md-sys-color-surface-dim: rgb(17 19 25);
  --md-sys-color-surface-bright: rgb(78 80 86);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(30 31 37);
  --md-sys-color-surface-container: rgb(46 48 54);
  --md-sys-color-surface-container-high: rgb(57 59 66);
  --md-sys-color-surface-container-highest: rgb(69 70 77);
  --md-extended-color-success-color: rgb(197 255 188);
  --md-extended-color-success-on-color: rgb(0 0 0);
  --md-extended-color-success-color-container: rgb(132 213 127);
  --md-extended-color-success-on-color-container: rgb(0 15 1);
  --md-extended-color-warning-color: rgb(255 237 224);
  --md-extended-color-warning-on-color: rgb(0 0 0);
  --md-extended-color-warning-color-container: rgb(255 178 110);
  --md-extended-color-warning-on-color-container: rgb(22 8 0);
}
