# Default public registry
registry=https://registry.npmjs.org/

# Core SDK feed
@cadai:registry=https://pkgs.dev.azure.com/cadai/Socle/_packaging/PXS-NG-CORE/npm/registry/
//pkgs.dev.azure.com/cadai/Socle/_packaging/PXS-NG-CORE/npm/registry/:always-auth=true
