# Default: install Angular, RxJS, etc. from npmjs.org
registry=https://registry.npmjs.org/

# Scoped registry only for your internal library
@cadai:registry=https://pkgs.dev.azure.com/cadai/Socle/_packaging/PXS-NG-CORE/npm/registry/
//pkgs.dev.azure.com/cadai/Socle/_packaging/PXS-NG-CORE/npm/registry/:always-auth=true
//pkgs.dev.azure.com/cadai/Socle/_packaging/PXS-NG-CORE/npm/registry/:username=azure
//pkgs.dev.azure.com/cadai/Socle/_packaging/PXS-NG-CORE/npm/registry/:_password=NHpKdjhmM3pYV3ZnbTN5bVlCa1lhVWI5Mzl2REJQaWkyZGVQc3FvRm1peWtyVUpuSGNuY0pRUUo5OUJIQUNBQUFBQVNkemZWQUFBU0FaRE8xTGxz
//pkgs.dev.azure.com/cadai/Socle/_packaging/PXS-NG-CORE/npm/registry/:email=tarik.haddadi@proximus.lu
