# Default: install Angular, RxJS, etc. from npmjs.org
#registry=https://registry.npmjs.org/

# Scoped registry only for your internal library
#@cadai:registry=https://pkgs.dev.azure.com/cadai/Socle/_packaging/PXS-NG-CORE/npm/registry/

#//pkgs.dev.azure.com/cadai/Socle/_packaging/PXS-NG-CORE/npm/registry/:always-auth=true
#//pkgs.dev.azure.com/cadai/Socle/_packaging/PXS-NG-CORE/npm/registry/:username=azure
#//pkgs.dev.azure.com/cadai/Socle/_packaging/PXS-NG-CORE/npm/registry/:_password=OVY2UDRmTzc2ZUR1cXdYcXdnaXZURGtkZzk4a3MzZ2kzdHRxSTJjaFBOOEh2WFhLR0tDVEpRUUo5OUJKQUNBQUFBQVNkemZWQUFBU0FaRE8xWXFO
#//pkgs.dev.azure.com/cadai/Socle/_packaging/PXS-NG-CORE/npm/registry/:email=tarik.haddadi@proximus.lu

# Default public registry
registry=https://registry.npmjs.org/

# Core SDK feed
@cadai:registry=https://pkgs.dev.azure.com/cadai/Socle/_packaging/PXS-NG-CORE/npm/registry/
//pkgs.dev.azure.com/cadai/Socle/_packaging/PXS-NG-CORE/npm/registry/:always-auth=true
