@font-face {
  font-family: 'ProximusRegular';
  src: url('/assets/fonts/Proximus-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximusLight';
  src: url('/assets/fonts/Proximus-Light.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximusBold';
  src: url('/assets/fonts/Proximus-Bold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}