@use './variables';
@use './mixins';


.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-justify-left {
    justify-content: left;
}
.flex-justify-right {
    justify-content: right;
}
.flex-align-center {
    align-items: center;
}