.dark-medium-contrast {
  --md-sys-color-primary: rgb(208 220 255);
  --md-sys-color-surface-tint: rgb(175 198 255);
  --md-sys-color-on-primary: rgb(0 35 87);
  --md-sys-color-primary-container: rgb(98 143 235);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(106 243 207);
  --md-sys-color-on-secondary: rgb(0 44 34);
  --md-sys-color-secondary-container: rgb(0 179 146);
  --md-sys-color-on-secondary-container: rgb(0 21 15);
  --md-sys-color-tertiary: rgb(236 211 255);
  --md-sys-color-on-tertiary: rgb(59 0 103);
  --md-sys-color-tertiary-container: rgb(177 118 231);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 19 25);
  --md-sys-color-on-background: rgb(226 226 234);
  --md-sys-color-surface: rgb(17 19 25);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 71 82);
  --md-sys-color-on-surface-variant: rgb(217 220 234);
  --md-sys-color-outline: rgb(174 177 191);
  --md-sys-color-outline-variant: rgb(140 144 157);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 234);
  --md-sys-color-inverse-on-surface: rgb(40 42 48);
  --md-sys-color-inverse-primary: rgb(0 68 154);
  --md-sys-color-primary-fixed: rgb(217 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 16 47);
  --md-sys-color-primary-fixed-dim: rgb(175 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 51 119);
  --md-sys-color-secondary-fixed: rgb(113 249 213);
  --md-sys-color-on-secondary-fixed: rgb(0 21 15);
  --md-sys-color-secondary-fixed-dim: rgb(80 221 185);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 62 49);
  --md-sys-color-tertiary-fixed: rgb(241 219 255);
  --md-sys-color-on-tertiary-fixed: rgb(30 0 56);
  --md-sys-color-tertiary-fixed-dim: rgb(222 183 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(80 15 132);
  --md-sys-color-surface-dim: rgb(17 19 25);
  --md-sys-color-surface-bright: rgb(67 68 75);
  --md-sys-color-surface-container-lowest: rgb(6 7 12);
  --md-sys-color-surface-container-low: rgb(27 29 35);
  --md-sys-color-surface-container: rgb(38 40 46);
  --md-sys-color-surface-container-high: rgb(49 50 57);
  --md-sys-color-surface-container-highest: rgb(60 61 68);
  --md-extended-color-success-color: rgb(157 240 150);
  --md-extended-color-success-on-color: rgb(0 45 6);
  --md-extended-color-success-color-container: rgb(83 162 82);
  --md-extended-color-success-on-color-container: rgb(0 0 0);
  --md-extended-color-warning-color: rgb(255 212 179);
  --md-extended-color-warning-on-color: rgb(61 30 0);
  --md-extended-color-warning-color-container: rgb(235 132 0);
  --md-extended-color-warning-on-color-container: rgb(30 12 0);
}
