.light-medium-contrast {
  --md-sys-color-primary: rgb(0 51 119);
  --md-sys-color-surface-tint: rgb(40 91 180);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(45 95 184);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(0 62 49);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(0 124 100);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(77 9 129);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(101 43 153);
  --md-sys-color-on-tertiary-container: rgb(242 222 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(250 249 255);
  --md-sys-color-on-background: rgb(25 27 33);
  --md-sys-color-surface: rgb(250 249 255);
  --md-sys-color-on-surface: rgb(15 17 23);
  --md-sys-color-surface-variant: rgb(223 226 240);
  --md-sys-color-on-surface-variant: rgb(50 54 65);
  --md-sys-color-outline: rgb(78 82 94);
  --md-sys-color-outline-variant: rgb(105 109 121);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 48 54);
  --md-sys-color-inverse-on-surface: rgb(240 240 248);
  --md-sys-color-inverse-primary: rgb(175 198 255);
  --md-sys-color-primary-fixed: rgb(59 106 196);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(25 81 170);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(0 124 100);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(0 97 78);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(139 82 192);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(113 56 165);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(197 198 206);
  --md-sys-color-surface-bright: rgb(250 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(243 243 251);
  --md-sys-color-surface-container: rgb(231 231 240);
  --md-sys-color-surface-container-high: rgb(220 220 228);
  --md-sys-color-surface-container-highest: rgb(209 209 217);
  --md-extended-color-success-color: rgb(0 64 12);
  --md-extended-color-success-on-color: rgb(255 255 255);
  --md-extended-color-success-color-container: rgb(46 125 50);
  --md-extended-color-success-on-color-container: rgb(255 255 255);
  --md-extended-color-warning-color: rgb(84 44 0);
  --md-extended-color-warning-on-color: rgb(255 255 255);
  --md-extended-color-warning-color-container: rgb(164 90 0);
  --md-extended-color-warning-on-color-container: rgb(255 255 255);
}
