.light {
  --md-sys-color-primary: rgb(1 70 159);
  --md-sys-color-surface-tint: rgb(40 91 180);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(45 95 184);
  --md-sys-color-on-primary-container: rgb(211 222 255);
  --md-sys-color-secondary: rgb(0 107 87);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(0 179 146);
  --md-sys-color-on-secondary-container: rgb(0 62 49);
  --md-sys-color-tertiary: rgb(77 9 129);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(101 43 153);
  --md-sys-color-on-tertiary-container: rgb(213 166 255);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(250 249 255);
  --md-sys-color-on-background: rgb(25 27 33);
  --md-sys-color-surface: rgb(250 249 255);
  --md-sys-color-on-surface: rgb(25 27 33);
  --md-sys-color-surface-variant: rgb(223 226 240);
  --md-sys-color-on-surface-variant: rgb(67 71 82);
  --md-sys-color-outline: rgb(115 119 131);
  --md-sys-color-outline-variant: rgb(195 198 212);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 48 54);
  --md-sys-color-inverse-on-surface: rgb(240 240 248);
  --md-sys-color-inverse-primary: rgb(175 198 255);
  --md-sys-color-primary-fixed: rgb(217 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 26 67);
  --md-sys-color-primary-fixed-dim: rgb(175 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 67 152);
  --md-sys-color-secondary-fixed: rgb(113 249 213);
  --md-sys-color-on-secondary-fixed: rgb(0 32 25);
  --md-sys-color-secondary-fixed-dim: rgb(80 221 185);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 81 65);
  --md-sys-color-tertiary-fixed: rgb(241 219 255);
  --md-sys-color-on-tertiary-fixed: rgb(45 0 80);
  --md-sys-color-tertiary-fixed-dim: rgb(222 183 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(98 39 150);
  --md-sys-color-surface-dim: rgb(217 217 225);
  --md-sys-color-surface-bright: rgb(250 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(243 243 251);
  --md-sys-color-surface-container: rgb(237 237 245);
  --md-sys-color-surface-container-high: rgb(231 231 240);
  --md-sys-color-surface-container-highest: rgb(226 226 234);
  --md-extended-color-success-color: rgb(13 99 27);
  --md-extended-color-success-on-color: rgb(255 255 255);
  --md-extended-color-success-color-container: rgb(46 125 50);
  --md-extended-color-success-on-color-container: rgb(203 255 194);
  --md-extended-color-warning-color: rgb(143 78 0);
  --md-extended-color-warning-on-color: rgb(255 255 255);
  --md-extended-color-warning-color-container: rgb(235 132 0);
  --md-extended-color-warning-on-color-container: rgb(83 43 0);
}
