.toggle-hint {
  font-size: 12px;
  margin-top: 4px;
  padding-left: 15px;
  color: var(--mat-sidenav-content-text-color);
}

.toggle-error {
  font-size: 12px;
  margin-top: 4px;
  color: var(--md-sys-color-error);
}