@use '@angular/material' as mat;
@use './styles/mixins' as *;

@include mat.core();

$primary-palette: mat.$azure-palette;
$tertiary-palette: mat.$green-palette;

// M3 theming: only primary + tertiary are allowed here in your version
$light-theme: mat.define-theme((color: (theme-type: light, primary: $primary-palette, tertiary: $tertiary-palette),
      typography: (brand-family: 'Roboto, "Helvetica Neue", sans-serif')));

$dark-theme: mat.define-theme((color: (theme-type: dark, primary: $primary-palette, tertiary: $tertiary-palette),
      typography: (brand-family: 'Roboto, "Helvetica Neue", sans-serif')));

// Apply light theme by default
:root {
  @include mat.all-component-themes($light-theme);
}

// Override with dark theme only when html has class "dark"
html.dark {
  @include mat.all-component-colors($dark-theme);
}

// Layout tokens
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: transparent;
  color: var(--md-sys-color-on-surface);
}

// Sidenav + Toolbar should follow theme tokens
.mat-sidenav,
.mat-sidenav-container,
.mat-toolbar {
  // Custom toolbar style
  background-color: transparent;
  color: var(--md-sys-color-on-surface);
}

.mat-toolbar {
  flex-wrap: wrap;
}

// Optional custom overrides
/* 
.mat-mdc-button {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}

.mat-mdc-form-field {
  --mdc-outlined-text-field-caret-color: var(--md-sys-color-primary);
  --mdc-outlined-text-field-focus-outline-color: var(--md-sys-color-primary);
}
*/

// Darkmode overlay overrides
.dark {
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    background: rgb(189 189 189 / 72%) !important
  }

  .mat-mdc-dialog-container .mdc-dialog__surface {
    background: #1f2329;
    color: #e7e9ee;
  }

  .title {
    color: var(--mat-table-row-item-label-text-color, #575656) !important;
  }
}

.light .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  background: rgba(0, 0, 0, .45) !important;
}

.light .mat-mdc-dialog-container .mdc-dialog__surface {
  background: #fff;
  color: #1d1d1f;
}